body{
    text-align: center;
    background-color: rgb(109, 116, 116);
}


button{
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    
        -webkit-box-shadow: 5px 5px 0px 0px #2fed28, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 5px 5px 0px 0px #28ed28, 10px 10px 0px 0px #167912, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);

}
.mayor{
    color: green;
}
.menor{
    color: red;
}